.offers {
    display: flex;
    width: 65%;
    height: 60vh;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(60deg, #29323c 0%, #485563 100%);;
}

.offers-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.offers-left p {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.offers-left button {
    width: 282px;
    height: 70px;
    border-radius: 10px;
    background-color: #1E56A0;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    display: flex;
    flex-direction: 1;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.offers-right img {
    width: 400px
}